
{% extends 'user/auth/layout.html' %}
{% load static %}


{% block body%}
<div class="center-container" style="align-items: flex-start; flex-wrap: wrap;">
{% for exam in examinations %}
    <div style="display: flex;" class="exam card">
        <div class="body">
            <h2>{{ exam.name }}</h2>
            <p class="status">
                {% if exam.status %}
                <span class="green">Taken</span>
                {% else %}
                <span class="red">Not Taken</span>
                {% endif %}
            </p>
        </div>
        <div class="controls">
            <a href="{% url 'examiner:students' %}?examination={{ exam.id }}" class="button red">View Students</a>
            <a href="{% url 'examiner:questions' %}?examination={{ exam.id }}"class="button blue">View Questions</a>
        </div>
    </div>
{% endfor %}
    <div class="exam card" id="create-exam">
        <a href="{% url 'examiner:add' %}" class="block button">
    Add Examination</a>
    </div>
</div>
{% endblock %}
